---
import BannerBlock from "../components/BannerBlock.astro";
import CTA from "../components/CTA.astro";
import Paragraph from "../components/Paragraph.astro";
import ParagraphBlock from "../components/ParagraphBlock.astro";
import Section from "../components/Section.astro";
import TextImage from "../components/TextImage.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Chi Sono">
  <Section>
    <TextImage
      imageSrc="https://www.centroabaton.it/wp-content/uploads/immagine-per-ginnastica-posturale-homepage.png"
    >
      <div>
        <Title> Percorso di studio </Title>
        <Paragraph>
          Sono Luca Del Sole, Dottore Osteopata diplomato presso l' A.I.O.T
          (Accademia Italiana Osteopatia Tradizionale) con la votazione di 110 e
          lode. Dopo aver svolto il corso a tempo pieno della durata di 5 anni,
          ho concluso il mio percorso di studi con una tesi sperimentale dal
          titolo: <em>
            "L' efficacia del trattamento manipolativo osteopatico, nella
            prevenzione degli infortuni in giovani atleti e hrv"</em
          >.
        </Paragraph>
      </div>
    </TextImage>
  </Section>

  <Section bg="bg-gray-50">
    <TextImage
      reverse
      imageSrc="https://www.centroabaton.it/wp-content/uploads/immagine-per-ginnastica-posturale-homepage.png"
    >
      <div>
        <Title> Tirocini pratici </Title>
        <ParagraphBlock>
          <Paragraph>
            Durante il mio percorso di studi ho svolto tirocinio pratico presso
            diverse strutture:
          </Paragraph>
          <Paragraph>
            <ul class="list-disc flex flex-col gap-2">
              <li>Centro Abaton</li>
              <li>Associazione di Volontariato Sottosopra, Pe</li>
              <li>Fondazione Maria Grazia Barone, Fg</li>
              <li>Agbe Associazione Genitori Bambini Emopatici</li>
              <li>Arda Associazione Regionale Down Abruzzo</li>
              <li>Convitto Pescara Calcio "Casa D'Annunzio"</li>
            </ul>
          </Paragraph>
        </ParagraphBlock>
      </div>
    </TextImage>
  </Section>

  <Section>
    <BannerBlock>
      <Paragraph>
        <ul class="list-disc flex flex-col gap-2">
          <li>Ho conseguito l'esame di abilitazione alla professione.</li>
          <li>
            Sono iscritto regolarmente al ROI (Registro Osteopati Italiani).
          </li>
          <li>
            Laureato in Scienze delle Attività Motorie e Sportive nel 2015
            presso l'Università D'Annunzio di Chieti-Pescara.
          </li>
          <li>
            Recentemente ho concluso il percorso formativo con il corso del
            Dott. Mario Castagnini sul Metodo FSC (facilitazione allo sviluppo
            delle cerebropotenzialità nei bambini).
          </li>
        </ul>
      </Paragraph>
    </BannerBlock>
  </Section>

  <CTA />
</Layout>
