---
import BannerBlock from "../components/BannerBlock.astro";
import CTA from "../components/CTA.astro";
import Paragraph from "../components/Paragraph.astro";
import ParagraphBlock from "../components/ParagraphBlock.astro";
import Section from "../components/Section.astro";
import TextImage from "../components/TextImage.astro";
import Title from "../components/Title.astro";
import TreatmentStep from "../components/TreatmentStep.astro";
import TreatmentType from "../components/TreatmentType.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Trattamenti">
  <Section>
    <TextImage
      imageSrc="https://www.centroabaton.it/wp-content/uploads/immagine-per-ginnastica-posturale-homepage.png"
    >
      <div>
        <Title> Come funziona il trattamento </Title>
        <ParagraphBlock>
          <Paragraph>
            <strong>Traumi</strong>, <strong>infezioni</strong>, <strong
              >infiammazioni</strong
            >, <strong>stress psichico</strong> e <strong>fisico</strong>,
            l'acquisizione di abitudini non naturali e la perdita di quelle
            salutari sono tutti fattori che minacciano continuamente il nostro
            delicato equilibrio e la nostra integrità psicofisica. Infatti le
            più comuni problematiche <strong>muscolo-scheletriche</strong> e <strong
              >viscerali</strong
            > sono in continuo aumento, anche tra i giovani.
          </Paragraph>
          <Paragraph>
            La valutazione osteopatica mette in evidenza eventuali disfunzioni,
            distretti corporei con restrizione dei movimenti fisiologici con
            l'obiettivo di ripristinare lo stato di salute soggettivo. Poiché
            l'osteopatia riequilibra le funzioni vitali ed agisce con uno scopo
            non solo curativo ma anche preventivo, è adatta a una varietà molto
            ampia di disturbi.
          </Paragraph>
        </ParagraphBlock>
      </div>
    </TextImage>
  </Section>

  <Section bg="bg-gray-50">
    <div class="flex justify-center pb-6">
      <Title> Gli step del trattamento </Title>
    </div>
    <div
      class="flex flex-col lg:flex-row gap-12 items-center lg:items-stretch justify-center"
    >
      <TreatmentStep
        title="Anamnesi"
        description="È la prima fase della seduta necessaria per raccogliere i dati clinici e per conoscere la storia del paziente, sia remota che recente."
        iconSrc="/images/step1.svg"
      />

      <TreatmentStep
        title="Diagnosi"
        description="Si prosegue con una valutazione osteopaticha che ha lo scopo di individuare le aree responsabili della sintomatologia riportata dal paziente. La valutazione viene effettuata su tutti i distretti corporei e non solo sulla zona che manifesta il sintomo."
        iconSrc="/images/step2.svg"
      />

      <TreatmentStep
        title="Trattamento"
        description="Si prosegue con la fase del trattamento, con lo scopo di normalizzare le aree che si sono individuate nella valutazione. In fine, si termina con una seconda valutazione di tutto l'organismo per controllare la risposta del paziente al trattamento."
        iconSrc="/images/step3.svg"
      />
    </div>
  </Section>

  <Section bg="bg-primary">
    <BannerBlock>
      <Paragraph color="text-white">
        <div class="text-2xl">
          Ogni trattamento che offro è progettato per affrontare specifici
          problemi di salute e migliorare il benessere generale. Utilizzo
          tecniche avanzate e personalizzate per garantire risultati ottimali.
          Se hai domande sui trattamenti o desideri discutere la tua situazione
          specifica, non esitare a contattarmi.
        </div>
      </Paragraph>
    </BannerBlock>
  </Section>

  <Section bg="bg-gray-50">
    <div class="flex justify-center flex-col items-center pb-6">
      <Title> Cosa tratta </Title>
      <Paragraph>
        L'osteopatia, pur basandosi sulle scienze fondamentali e le conoscenze
        mediche tradizionali (anatomia, fisiologia, biomeccanica, neurologia,
        ecc...) attraverso tecniche specifiche si dimostra efficace per il
        trattamento di disturbi che interessano:
      </Paragraph>
    </div>
    <div
      class="flex flex-col lg:flex-row flex-wrap gap-12 items-center lg:items-stretch justify-center"
    >
      <TreatmentType
        title="SISTEMA MUSCOLO SCHELETRICO"
        description={[
          "Cervicalgia, dorsalgia, lombalgia",
          "Dolori muscolari e articolari (spalla, ginocchio, anca)",
          "Scoliosi, dismetrie degli arti e asimmetrie disfunzionali",
          "Dolori costali e intercostali",
          "Dolore a livello scapolare delle spalle",
          "Epicondilite e tendinite",
          "Pubalgia e problematiche a livello dell'anca",
          "Distorsioni, contratture, esiti di fratture e di interventi chirurgici",
          "Traumi contusivi",
        ]}
      />
      <TreatmentType
        title="SISTEMA DIGESTIVO"
        description={[
          "Stipsi",
          "Colite",
          "Reflusso gastroesofageo",
          "Gastrite",
        ]}
      />
      <TreatmentType
        title="SISTEMA NERVOSO"
        description={[
          "Sciatalgia, cruralgia, nevralgia trigeminale",
          "Sindrome del tunnel carpale, emicrania",
          "Enuresi, cefalee",
          "Disturbi del sonno, ansia",
        ]}
      />
      <TreatmentType
        title="SISTEMA GENITO-URINARIO"
        description={[
          "Dismenorrea",
          "Irregolarità del ciclo mestruale",
          "Dolore pelvico acuto e cronico",
        ]}
      />
      <TreatmentType
        title="OSTEOPATIA E OTORINOLARINGOIATRIA"
        description={["Riniti, sinusiti, otiti, vertigini, acufeni"]}
      />
      <TreatmentType
        title="OSTEOPATIA E ODONTOIATRIA"
        description={[
          "Problematiche dell'articolazione temporo-mandibolare, dolore nella zona mandibolare, collo, viso, orecchie, spalle e mal di testa",
          "Malocclusione",
        ]}
      />
      <TreatmentType
        title="OSTEOPATIA E PEDIATRIA"
        description={[
          "Plagiocefalia",
          "Problemi digestivi, reflusso gastroesofageo e rigurgiti",
          "Problematiche riguardanti la suzione, coliche e stipsi",
          "Problematiche legate alla crescita e allo sviluppo motorio",
          "Disturbi del sonno, irritabilità",
          "Torcicollo congenito",
          "Otiti e sinusiti",
        ]}
      />
    </div>
  </Section>
  <Section>
    <TextImage
      reverse
      imageSrc="https://www.centroabaton.it/wp-content/uploads/immagine-per-ginnastica-posturale-homepage.png"
    >
      <div>
        <Title> Quando rivolgersi all'osteopata </Title>
        <ParagraphBlock>
          <Paragraph>
            L'osteopatia è indicata in tutte le fasce d'età, in quanto prevede
            l'utilizzo di diversi tipi di tecniche e approcci osteopatici, che
            si adattano perfettamente ad ogni tipologia di paziente e a
            migliorare e risolvere diverse problematiche fisiche, riportando la
            persona ad un miglior stato di equilibrio e benessere, oltre che ad
            essere molto utile nell'ambito della prevenzione.
          </Paragraph>
        </ParagraphBlock>
      </div>
    </TextImage>
  </Section>

  <CTA />
</Layout>
