---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Luca Del Sole">
  <div
    class="h-[50vh] bg-[url('/images/luca.jpg')] bg-no-repeat py-20 bg-contain bg-bottom"
  >
  </div>
</Layout>
