---
import Paragraph from "./Paragraph.astro";
import Section from "./Section.astro";
---

<Section bg="bg-gray-900">
  <div class="flex flex-col justify-center items-center text-center">
    <h2 class="text-3xl md:text-4xl font-semibold text-white mb-6 uppercase">
      Prenota un appuntamento
    </h2>
    <h2 class="text-3xl md:text-2xl font-semibold text-white mb-6 uppercase">
      Dove ricevo:
    </h2>
    <Paragraph color="text-white">
      <strong>Indirizzo:</strong> Via Tiburtina Valeria, 75, 65128 Pescara PE
    </Paragraph>

    <h2 class="text-3xl md:text-2xl font-semibold text-white mb-6 uppercase">
      Contatti:
    </h2>
    <Paragraph color="text-white">
      <strong>Telefono:</strong> 3295447257
    </Paragraph>
    <Paragraph color="text-white">
      <strong>Email:</strong>
      <a href="mailto:email-placeholder"> delsole.luca@gmail.com </a>
    </Paragraph>
  </div>
</Section>
