---
import { navLinks } from "../globals";
import { Logo } from "./Logo";

const currentHref = Astro.url.pathname;
---

<footer class="w-full flex justify-center bg-dark shadow">
  <div
    class="flex w-full max-w-screen-xl flex-col justify-between gap-4 px-10 py-6"
  >
    <div>
      <a href="/" class="mb-4 flex items-center justify-center space-x-3">
        <Logo className="fill-white w-36" />
      </a>
      <ul
        class="flex flex-wrap items-center justify-center gap-4 text-sm font-light"
      >
        {
          navLinks.map((navLink) => {
            return (
              <li>
                <a
                  href={navLink.href}
                  class:list={[
                    "hover:underline capitalize",
                    currentHref === navLink.href ? "text-accent" : "text-white",
                  ]}
                >
                  {navLink.name}
                </a>
              </li>
            );
          })
        }
      </ul>
    </div>
    <div class="text-center text-xs font-extralight italic text-gray-300">
      <div>Luca del Sole | indirizzo | P.IVA 000000000</div>
      <div>
        <span id="current-year"></span>
        Tutti i Diritti Riservati
      </div>
    </div>
  </div>
  <script>
    const yearNode = document.getElementById("current-year");

    if (yearNode) {
      yearNode.innerHTML = new Date().getFullYear().toString();
    }
  </script>
</footer>
