---
import { Image } from "astro:assets";

interface Props {
  imageSrc: ImageMetadata;
  reverse?: boolean;
}

const { imageSrc, reverse } = Astro.props;
---

<div
  class:list={[
    "flex items-center",
    "flex-col lg:flex-row",
    reverse ? "lg:flex-row-reverse" : "",
    "gap-10 lg:gap-24",
  ]}
>
  <div class="w-full lg:w-1/2 flex-shrink-0">
    <slot />
  </div>
  <div class="w-full lg:w-1/2 overflow-hidden">
    <Image
      src={imageSrc}
      class="w-full object-cover"
      alt="Image description"
      width={800}
      height={600}
      quality={80}
      format="webp"
    />
  </div>
</div>
