---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="it">
  <head>
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width" />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="/fonts.css" />
    <link rel="stylesheet" href="/style.css" />

    <title>{title}</title>
  </head>
  <body class="font-rubik">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
